footer{
    background-image: url(../../../public/images/footer_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}


.pseudo-footer{
    width: 100%;
    background-color:#b02939 ;
    height: 80px;
}